{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>KAFRA</title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{{STATIC_URL}}css/fontAwesome.css">
        <link rel="stylesheet" href="static/css/fontAwesome.css">
        <link rel="stylesheet" href="{{STATIC_URL}}css/light-box.csss">
        <link rel="stylesheet" href="static/css/light-box.css">
        <link rel="stylesheet" href="{{STATIC_URL}}css/templatemo-style.css">
        <link rel="stylesheet" href="static/css/templatemo-style.css">


        <link href="https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600,700,800,900" rel="stylesheet">
        <script src="static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>


    </head>

<body>

    <nav>
        <div class="logo">
            <a class="link" href="/">KA<em>FRA</em></a>
        </div>
        <div class="menu-icon">
        <span></span>
      </div>
    </nav>

    <div class="page-heading">
        <div class="container">
            <div class="heading-content">
                <h1>ข้อมูล</h1>
            </div>
        </div>
    </div>
<div class="grid-portfolio" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a  data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
                                    <p>ขิง สารต่อต้านอนุมูลอิสระเป็นจำนวนมาก ช่วยชะลอความแก่และชะลอการเกิดริ้วรอย มีส่วนช่วยในการป้องกันต่อต้านการเกิดโรคมะเร็ง ต่อต้านการเจริญเติบโตของเซลล์มะเร็ง ช่วยลดผลข้างเคียงจากสารเคมีที่ใช้ในการรักษามะเร็ง ดังนั้นควรรับประทานขิงควบคู่ไปกับการรักษามะเร็งจะเป็นผลดี ขิงมีฤทธิ์อุ่น ช่วยให้ร่างกายอบอุ่น และช่วยในการขับเหงื่อ ช่วยแก้อาการร้อนใน ด้วยการใช้ลำต้นสดๆนำมาทุบให้แหลกประมาณ 1 กำมือ แล้วต้มน้ำดื่ม ช่วยลดความอ้วน ลดระดับไขมันคอเลสเตอรอล ด้วยการดูดซึมคอเลสเตอรอลจากลำไส้ แล้วปล่อยให้ร่างกายกำจัดออกทางอุจจาระ ช่วยรักษาอาการปวดศีรษะและไมเกรน ด้วยการรับประทานน้ำขิงบ่อยๆ ช่วยลดความยากของผู้ติดยาเสพติดลงได้ แก้ตานขโมย ด้วยการใช้ขิง ใบกะเพรา พริกไทย ไพล มาบดผสมกันแล้วนำมารับประทาน ช่วยรักษาโรคความดันโลหิต ด้วยการนำขิงสดมาฝานต้มกับน้ำรับประทาน ช่วยบำรุงหัวใจของคุณให้แข็งแรง ช่วยบรรเทาอาการของโรคประสาท ซึ่งทำให้จิตใจขุ่นมัว (ดอก) ช่วยฟื้นฟูร่างการสำหรับมารดาหลังคลอดบุตร ด้วยการรับประทานไก่ผัดขิง</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="https://s.isanook.com/he/0/rp/rc/w850h510/ya0xa0m1w0q70/aHR0cHM6Ly9zLmlzYW5vb2suY29tL2hlLzAvdWQvMi8xMjk2OS9naW5nZXIuanBn.jpg" style="height: 250px;width:250px;margin-bottom:1rem;border-radius: 5px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                        <a data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
                                    <p>กระเทียม แก้ปัญหาผมหลุดร่วง รักษาสิว ป้องกันและรักษาโรคหวัด บรรเทาอาการอักเสบจากโรคสะเก็ดเงิน ช่วยควบคุมน้ำหนัก ถอนเสี้ยน กำจัดกลิ่นเท้า ไล่ยุงและแมลงสัตว์กัดต่อย รักษาโรคส่าไข้</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="https://image.makewebeasy.net/makeweb/0/K5HN2G4Kq/vegetable/Garlic.jpg"style="height: 250px;width:250px;margin-bottom:1rem;border-radius: 5px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">

                                    <p>กระวานไทย ผลแก่ รสเผ็ดร้อน  กลิ่นหอม  ใช้แก้อาหารท้องอืด ท้องเฟ้อ ช่วยขับลม และแก้แน่นจุกเสียด มีฤทธิ์ขับลม และบำรุงธาตุ แก้ธาตุไม่ปกติ บำรุงกำลัง ขับโลหิต  แก้ลมในอกให้ปิดธาตุ  แก้ลมเสมหะให้ปิดธาตุ  แก้ลมในลำไส้ เจริญอาหาร  รักษาโรครำมะนาด  แก้ลมสันนิบาต  แก้สะอึก แก้อัมพาตรักษาอาการเบื่ออาหาร  คลื่นไส้  อาเจียน เมล็ด  แก้ธาตุพิการ  อุจจาระพิการ  บำรุงธาตุ ขับเสมหะ แก้ปวดท้อง ขับลม นอกจากนี้ยังใช้ผสมกับยาถ่ายเพื่อบรรเทาอาการไซ้ท้อง (คลื่นไส้อาเจียน)   เช่น  มะขามแขก            เป็นส่วนประกอบในพิกัดยาไทย คือ พิกัดตรีธาตุ ประกอบด้วย กระวาน ดอกจันทน์ และอบเชย เป็นยาแก้ธาตุพิการ แก้ลม แก้เสมหะ แก้ไข้  พิกัดตรีทุราวสา ประกอบด้วย ผลกระวาน ผลโหระพาเทศ ผลราชดัด เป็นยาแก้เสมหะ แก้ลม บำรุงน้ำดี แก้พิษตานซาง</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="https://www.technologychaoban.com/wp-content/uploads/2018/10/1-56.jpg"style="height: 250px;width:250px;margin-bottom:1rem;border-radius: 5px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a  data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">

                                    <p>ว่านหางจระเข้ รักษาแผลไฟไหม้และน้ำร้อนลวก  ป้องกันและบรรเทารอยไหม้จากการออกแดด บรรเทารอยไหม้จากการฉายรังสีของผู้ป่วย  สมานแผลจากของมีคมและแผลถลอก รักษาฝีและโรคริดสีดวงทวาร</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="https://chiangmaigardens.com/wp-content/uploads/2017/05/IMG_20181021_112216.jpg"style="height: 250px;width:250px;margin-bottom:1rem;border-radius: 5px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a  data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">

                                    <p>ทองพันชั่ง  ใบ รสเบื่อเมา ดับพิษไข้ รักษาโรคผิวหนัง แก้ริดสีดวงทวาร แก้ไอเป็นเลือด ฆ่าพยาธิกลากเกลื้อน แก้มะเร็ง  ราก รสเมาเบื่อ ต้มรับประทานแก้พิษไข้ แก้โรคมะเร็ง เรื้อน วัณโรค โรคผิวหนัง แก้ผมหงอกเนื่องจากเชื้อรา</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="https://upload.wikimedia.org/wikipedia/th/5/5c/Th%40%40ngphanchang.jpg"style="height: 250px;width:250px;margin-bottom:1rem;border-radius: 5px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">

                                    <p>มะกรูด ตัดจุกผลมะกรูดคว้านไส้กลางออกเอามหาหิงส์ใส่แล้วปิดจุก นำไปเผาไฟจนดำเกรียมบดเป็นผงละลายกับน้ำผึ้งรับประทาน จะช่วยขับลม แก้ปวดท้องหรือป้ายลิ้นเด็กอ่อน เป็นยาขับขี้เทาได้ น้ำมะกรูดใช้ถูกฟัน แก้เลือดออกตามไรฟัน</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="https://sites.google.com/site/smunphirthiy2013/_/rsrc/1380249946784/srrphkhun-khxng-smunphir-10-chnid/%E0%B8%A1%E0%B8%B0%E0%B8%81%E0%B8%A3%E0%B8%B9%E0%B8%94.jpg"style="height: 250px;width:250px;margin-bottom:1rem;border-radius: 5px;"style="height: 250px;width:250px;margin-bottom:1rem;border-radius: 5px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a  data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">

                                    <p>ดอกอัญชัน ช่วยต่อต้านอนุมูลอิสระในร่างกาย ช่วยในการชะลอวัยและริ้วรอยแห่งวัย ป้องกันโรคเส้นเลือดสมองตีบ รักษาอาการผมร่วง</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="https://sites.google.com/site/smunphirthiy2013/_/rsrc/1380249886839/srrphkhun-khxng-smunphir-10-chnid/%E0%B8%94%E0%B8%AD%E0%B8%81%E0%B8%AD%E0%B8%B1%E0%B8%8D%E0%B8%8A%E0%B8%B1%E0%B8%99.jpg"style="height: 250px;width:250px;margin-bottom:1rem;border-radius: 5px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a  data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">

                                    <p>ใบบัวบก  .ขับร้อน ขับชื้น แก้ช้ำใน ระบายร้อนขับไฟ</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="https://sites.google.com/site/smunphirthiy2013/_/rsrc/1380249841621/srrphkhun-khxng-smunphir-10-chnid/images%20%2827%29.jpg"style="height: 250px;width:250px;margin-bottom:1rem;border-radius: 5px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a  data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">

                                    <p>ตะไคร้ ทั้งต้น ใช้เป็นยารักษาโรคหืด แก้ปวดท้อง ขับปัสสาวะและแก้อหิวาตกโรค หรือทำเป็นยาทานวดก็ได้ และยังใช้รวมกับสมุนไพรชนิดอื่นรักษาโรคได้ เช่น บำรุงธาตุ เจริญอาหาร และขับเหงื่อ         หัว เป็นยารักษาเกลื้อน แก้ท้องอืดท้องเฟ้อ แก้ปัสสาวะพิการ แก้นิ่ว บำรุงไฟธาตุ แก้อาการขัดเบา ถ้าใช้รวมกับสมุนไพรชนิดอื่น จะเป็นยาแก้อาเจียน แก้ทราง ยานอนหลับลดความดันสูง แก้ลมอัมพาต แก้กษัยเส้น และแก้ลมใบ ใบสด ๆ จะช่วยลดความดันโลหิตสูง แก้ไข้          ราก ใช้เป็นยาแก้ไข้เหนือ ปวดท้องและท้องเสีย           ต้น ใช้เป็นยาแก้ขับลม แก้เบื่ออาหาร แก้ผมแตก แก้โรคทางเดินปัสสาวะ นิ่ว เป็นยาบำรุงไฟธาตุให้เจริญ แต่ถ้าเอาผสมกับสมุนไพรชนิดอื่น จะแก้โรคหนองใน และนอกจากนี้ยังใช้ดับกลิ่นคาวด้วย</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="https://sites.google.com/site/smunphirthiy2013/_/rsrc/1380249773656/srrphkhun-khxng-smunphir-10-chnid/images%20%2824%29.jpg"style="height: 250px;width:250px;margin-bottom:1rem;border-radius: 5px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a  data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
                                 1>
                                    <p>ต้นดีปลี ในผลสุกของดีปลีมีน้ำมันหอมระเหย ในน้ำมันของดีปลีตามการวิจัยของสถาบันการแพทย์แผนไทยบอกว่ามีฤทธิ์ฆ่าแมลง ด้วงงวงและด้วงถั่ว ถ้าหากนำมาสกัดเป็นสารกำจัดแมลงสูตรจากธรรมชาติก็ไม่เลว</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="https://sites.google.com/site/smunphirthiy2013/_/rsrc/1380249587086/srrphkhun-khxng-smunphir-10-chnid/%E0%B8%95%E0%B9%89%E0%B8%99%E0%B8%94%E0%B8%B5%E0%B8%9B%E0%B8%A5%E0%B8%B5.jpg"style="height: 250px;width:250px;margin-bottom:1rem;border-radius: 5px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
                               >
                                    <p>ขมิ้นชัน สรรพคุณทางยาของขมิ้นชันกัน ส่วนที่ใช้ก็คือ "เหง้า" ที่มีรสฝาดนั่นเอง โดยเหง้ามีฤทธิ์ฆ่าเชื้อแบคทีเรีย เชื้อรา ลดการอักเสบ และมีฤทธิ์ในการขับน้ำดี ต้านอนุมูลอิสระป้องกันการเกิดมะเร็งในตับ ช่วยบำรุงตับ นอกจากนี้ ยังมีสารอาหารหลายชนิด ทั้งวิตามินเอ วิตามินซี วิตามินอี และเกลือแร่ต่าง ๆ            ส่วนน้ำมันหอมระเหยในขมิ้นชัน ก็มีสรรพคุณบรรเทาอาการปวดท้อง ท้องอืด แน่นจุกเสียดได้ด้วย จึงนิยมนำขมิ้นมาใช้สมานแผลในกระเพาะอาหาร ทำความสะอาดลำไส้ รักษาโรคกระเพาะอาหาร           การศึกษาวิจัยเพิ่มเติมยังพบว่า ขมิ้นมีสรรพคุณบำรุงร่างกายอีกหลายอย่าง ทั้งช่วยรักษาระบบทางเดินหายใจที่ผิดปกติ หืด ไอ เวียนศีรษะ รักษาอาการปวดและอักเสบเนื่องจากไขข้ออักเสบ เพิ่มภูมิคุ้มกันให้แก่ร่างกาย ช่วยขับน้ำนมสตรีหลังคลอดบุตร</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="https://www.asianbioplex.com/wp-content/uploads/2016/05/Turmeric.jpg"style="height: 250px;width:250px;margin-bottom:1rem;border-radius: 5px;">
                            </div>
                        </div>
                    </div>
                </div><div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <adata-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">

                                    <p>กะเพรา ช่วยขับไขมันและน้ำตาล</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="http://img.kapook.com/image/Food/basil.jpg" style="height: 250px;width:250px;margin-bottom:1rem;border-radius: 5px;">
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>



<style  background-color lightgrey  width: 600px  border: 15px solid green  padding: 50px margin: 20px;>
<div><p align = 'center'><img src="https://s.isanook.com/he/0/rp/rc/w850h510/ya0xa0m1w0q70/aHR0cHM6Ly9zLmlzYW5vb2suY29tL2hlLzAvdWQvMi8xMjk2OS9naW5nZXIuanBn.jpg" style="height: 250px;width:250px;margin-bottom:1rem;border-radius: 5px;"></p>
This text is the content of the box. We have added a 50px padding, 20px margin and a 15px green border. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
</style>







    <footer>
        <div class="container-fluid">
            <div class="col-md-12">
                <p>Sthian &copy;

    | Smart</p>
            </div>
        </div>
    </footer>






        <section class="overlay-menu">
          <div class="container">
            <div class="row">
              <div class="main-menu">
                  <ul >
                      <li>
                          <a class ="link" href="/home1">HOME</a>
                      </li>
                      <li>
                          <a class ="link" href="/rog1">ค้นหา</a>
                      </li>
                       <li>
                          <a class ="link" href="/">logout</a>
                      </li>
                  </ul>
                  <p></p>
              </div>
            </div>
          </div>
        </section>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="static/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="static/js/vendor/bootstrap.min.js"></script>

        <script src="static/js/plugins.js"></script>
        <script src="static/js/main.js"></script>

</body>
</html>